<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Nosotros</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
      crossorigin="anonymous"
    />
    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
    />

    <link href="../resources/styles/estilos.css" rel="stylesheet" />
  </head>
  <body>
    <div id="header-include"></div>

    <!--Contenido General-->

    <section class="container py-5">
      <div class="row align-items-center">
        <div class="col-lg-6 mb-4 mb-lg-0">
          <h5 style="color: #e67300">
            Lideres en el mercado de las renta a corto plazo
          </h5>
          <h2 class="fw-bold fs-1 fs-lg-2" style="color: #245">
            ¿Por qué Karibecar?
          </h2>
          <br />
          <p
            class="text-muted text-center text-lg-start"
            style="font-size: 18px"
          >
            El viajero actual busca más que solo un medio de transporte: desea
            explorar a su ritmo, con libertad, seguridad y conexión con la
            cultura local. Frente a esta necesidad, surge KaribeCar, una
            propuesta innovadora que no solo provee vehículos confiables y bien
            equipados, sino que también transforma la manera de recorrer el
            Caribe costarricense.
          </p>
        </div>
        <div class="col-lg-6 text-center">
          <img
            src="../resources/images/ImgNosotros.jpg"
            class="img-fluid img-circular"
            alt="Vehículos Karibecar"
          />
        </div>
      </div>
    </section>

    <section class="bg-light py-5 p-4">
      <div class="container-nosotros">
        <div class="row text-center px-4 justify-content-center">
          <div
            class="col-md-4 mb-4 p-4"
            style="
              background-color: #245;
              margin-right: 20px;
              margin-bottom: 20px;
            "
          >
            <img
              src="../resources/images/mision.png"
              width="60"
              class="mb-2 py-3"
            />
            <h5 class="fw-semibold text-white">Misión</h5>
            <p class="text-white" style="text-align: justify">
              En KaribeCar, nuestra misión es ofrecer un servicio integral de
              renta de vehículos en la provincia de Limón, enfocado en brindar
              comodidad, confianza y cercanía a nuestros clientes. Nos
              comprometemos a facilitar la movilidad de quienes desean descubrir
              el Caribe costarricense con total libertad, conectando cada viaje
              con la calidez de nuestra gente, la belleza de nuestros paisajes y
              la cultura única de la región.
            </p>
          </div>
          <div
            class="col-md-4 mb-4 p-4"
            style="
              background-color: #e67300;
              margin-right: 20px;
              margin-bottom: 20px;
            "
          >
            <img
              src="../resources/images/vision.png"
              width="60"
              class="mb-2 py-3"
            />
            <h5 class="fw-semibold text-white">Visión</h5>
            <p class="text-white" style="text-align: justify">
              Nos proyectamos como una empresa que innova constantemente, que
              aporta valor a la experiencia del viajero, y que trabaja de la
              mano con la comunidad para promover un turismo sostenible y
              responsable. Visualizamos un KaribeCar que crece junto a Limón,
              impulsando la movilidad, la economía local y el amor por descubrir
              nuestra tierra.
            </p>
          </div>
          <div
            class="col-md-4 mb-4 p-4"
            style="
              background-color: #245;
              margin-right: 20px;
              margin-bottom: 20px;
            "
          >
            <img
              src="../resources/images/valores.png"
              width="60"
              class="mb-2 py-3"
            />
            <h5 class="fw-semibold text-white valores">Valores</h5>
            <p class="text-white" style="text-align: justify">
              1.Seguridad: Asegurar que nuestros vehículos y servicios mantengan
              los más altos estándares de seguridad para nuestros clientes.
              <br />
              2.Responsabilidad: Asumir las consecuencias de las acciones
              propias y de la empresa, y actuar de forma sostenible. <br />
              3.Compromiso: Dedicar esfuerzo y recursos para cumplir con los
              objetivos de la empresa y satisfacer a los clientes.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="container py-5">
      <div class="row align-items-center">
        <div class="col-lg-6 mb-4 mb-lg-0" style="padding-right: 40px">
          <h1 class="fw-bold" style="color: #e67300">Nuestras fortalezas</h1>
          <p
            class="text-muted"
            style="text-align: justify; font-size: 18px"
            style="margin-bottom: 20px"
          >
            -Flota de vehículos moderna y variada: Una flota bien mantenida y
            diversa que incluye desde autos compactos hasta SUVs, camionetas o
            vehículos de lujo, asegura que los clientes puedan elegir el
            vehículo que mejor se adapte a sus necesidades.
            <br />
            <br />
            -Servicio de atención al cliente excepcional: Ofrecer un servicio
            amable, eficiente y disponible las 24 horas del día, así como
            soporte en cualquier momento del proceso de alquiler, genera
            confianza y satisfacción en los clientes.
            <br />
            <br />
            -Precios competitivos y flexibles: Ofrecer tarifas atractivas,
            descuentos por alquileres largos, y opciones sin sorpresas en los
            precios finales. La transparencia en la facturación es una gran
            fortaleza.
          </p>
        </div>
        <div class="col-lg-6 text-center">
          <div class="d-flex flex-column align-items-center">
            <img
              src="../resources/images/carreteras-de-Costa-Rica.jpg"
              class="img-fluid rounded mb-3"
              alt="Vehículo 1"
            />
            <img
              src="../resources/images/road-trip-sur.jpg"
              class="img-fluid rounded mb-3"
              alt="Vehículo 2"
            />
          </div>
        </div>
      </div>
    </section>

    <!-- FOOTER -->
    <div id="footer-include"></div>

    <!-- Bootstrap JS + includes -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../scripts/include.js"></script>
  </body>
</html>
